{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<p>name: {{ object.full_title }}</p>
<p>symbol: {{ object.symbol }}</p>

<table class="table table-condensed">
	<tr>
		<th></th>
	{% for er in stock.earnings_set.all %}
		<td>{{ er.er_quarter }}</td>
	{% endfor %}
	</tr>
	<tr>
		<th>Price After</th>
	{% for er in stock.earnings_set.all %}
		<td id="after-price">{{ er.after_price }}</td>
	{% endfor %}
	</tr>
	<tr>
		<th>Price Before</th>
	{% for er in stock.earnings_set.all %}
		<td id="before-price">{{ er.before_price }}</td>
	{% endfor %}
	</tr>
	<tr>
		<th>Percent Change</th>
	{% for er in stock.earnings_set.all %}
		<td id="percent-change">{{ er.percent_change }}%</td>
	{% endfor %}
	</tr>
	<tr>
		<th>Date Released</th>
	{% for er in stock.earnings_set.all %}
		<td>{{ er.er_date }}</td>
	{% endfor %}
	</tr>

</table>

<div id="chart" style="height: 250px;"></div>
<p>Next ER: {{ object.projected_er_date }}</p>

<script>
	er_arr = [];
	$('td#percent-change').each(function(){
		er_arr.push($(this).text());
	});
		// data = [
		// 	{ quarter: 'Q1'}
		// ]
		console.log(er_arr);
	new Morris.Line({
		element: 'chart',

		data: [
			{ quarter: 'Q1', value: er_arr[0] },
			{ quarter: 'Q2', value: er_arr[1] },
			{ quarter: 'Q3', value: er_arr[2] },
			{ quarter: 'Q4', value: er_arr[3] },
		],

		xkey: 'quarter',

		ykeys: ['value'],

		labels: ['Value'],

		goals: [0],

		goalLineColors: ['red'],

		parseTime: false
	});

	$(document).ready(function() {
		

	})
	
</script>

{% endblock %}





